:root {
    --primaryColor: hsl(199, 100%, 33%);
    --secondayColor: hsl(187, 85%, 43%);
    --gradientColor: linear-gradient(to right, hsl(187, 85%, 43%), hsl(199, 100%, 33%));
    --white-color: hsl(0, 0%, 100%);
    --blackColor:hsl(201, 33%, 16%);
    --text-color: hsl(240, 4%, 36%);
    --whiteColordeam: hsl(0, 0%, 93%);
    --greyText: rgb(190, 190, 190);
    --inputColor: rgb(239,239, 239);
    --bodyColor: rgb(240, 240, 246);
    --cardBG: rgb(225, 225, 235);
  }